<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <h4>Criptolearn</h4>
        <div class="spacer"></div>
        <span routerLink="auth/login">LOGIN</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8 side" opened mode="side">
        <mat-divider></mat-divider>
        <button mat-button routerLink="/">
            <mat-icon class="menu-button">home</mat-icon>
            <span>Home</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="cursos/lista">
            <mat-icon class="menu-button">assignment</mat-icon>
            <span>Cursos</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="alumnos/lista">
            <mat-icon class="menu-button">people</mat-icon>
            <span>Alumnos</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="clases">
            <mat-icon class="menu-button">class</mat-icon>
            <span>Clases</span>
        </button>
        <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>